<div class="totales">
  <div class="total-row">
    <span>Subtotal:</span>
    <span>{{formatCurrency totales.subtotal}}</span>
  </div>
  {{#if precioReglas.aplicaDescuento}}
    <div class="total-row">
      <span>Descuento {{#if precioReglas.tipoDescuento}}({{precioReglas.valorDescuento}}{{#eq precioReglas.tipoDescuento 'porcentaje'}}%{{/eq}}){{/if}}:</span>
      <span>-{{formatCurrency totales.descuento}}</span>
    </div>
  {{/if}}
  {{#if facturacion.requiereFactura}}
    <div class="total-row">
      <span>IVA (16%):</span>
      <span>{{formatCurrency totales.iva}}</span>
    </div>
  {{/if}}
  <div class="total-row final">
    <span>Total:</span>
    <span>{{formatCurrency totales.total}}</span>
  </div>
</div>
